
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lora:wght@700&display=swap');

#nav-items {
  background-color: transparent;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 33px;
}

#nav-items li {
  margin: 0 10px;
  font-family: 'Lora';
}

#nav-items a {
  text-decoration: none;
  padding: 10px;
  color: white;
  transition: box-shadow 0.3s ease;
}

.page-titles {
  font-size: 40px;
  margin: 0;
  left: 0;
  text-decoration: none;
  font-family: 'EB Garamond';
}

#p-1 {
  margin-bottom: 2%;
}

#nav-items a:visited {
  color: rgb(0, 0, 0);
}

#nav-items a.active {
  color: rgb(70, 10, 224);
}

#nav-items li {
  font-size: 30px;
  font-family: ;
}

html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(227, 241, 148), rgb(246, 246, 250));
}

#GitHubLogo {
  width: 5%;
}

#LinkedInLogo {
  width: 10%;
}

.emojis {
  font-size: 300%;
  margin-left: 5%;
}

.emoji-link {
  text-decoration: none;
}

#profile-pic {
  width: 10%;
  border-radius: 100px;
}

.proficiencies {
  list-style: none;
  color: black;
}

.text {
  color: black;
  font-size: 22px;
  font-family: 'EB Garamond';
}

.thumbnails {
  width: 100%;
  height: auto;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  align-items: center;
}

.link-text {
  color: white;
}

.titles {
  text-align: center;
  font-size: 60px;
}

#contact-form {
  display: block;
}

.links {
  text-align: center;
}

#copyright {
  text-align: center;
}

/* Mobile view */
@media screen and (max-width: 600px) {
  #nav-items {
    flex-direction: row;
    background-color: transparent;
    margin-top: 0%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .page-titles {
    margin-top: 12%;
    text-align: center;
    font-family: 'EB Garamond';
  }

  .thumbnails {
    max-width: 50%;
  }

  #GitHubLogo {
    width: 12%;
  }

  #LinkedInLogo {
    width: 30%;
  }

  #profile-pic {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
