
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lora:wght@700&display=swap");

#nav-items {
  background-color: transparent;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 33px;
}

#nav-items li {
  margin: 0 10px;
  font-family: "Lora";
  font-size: 30px;
}

#nav-items a {
  text-decoration: none;
  padding: 10px;
  color: white;
  transition: box-shadow 0.3s ease;
}

.page-titles {
  font-size: 40px;
  margin: 0;
  left: 0;
  text-decoration: none;
  font-family: "EB Garamond";
}

#p-1 {
  margin-bottom: 2%;
}

#nav-items a:visited {
  color: green;
}

#nav-items a.active {
  color: blue;
}

html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(0.2turn, gray, 50%, rgb(60, 66, 133));
}

#GitHubLogo {
  width: 9%;
  margin-top: .55%;
}

#LinkedInLogo {
  width: 20%;
  top: 5%;
}

.emojis {
  font-size: 300%;
  margin-left: 5%;
}

.emoji-link {
  text-decoration: none;
  position: relative;
}

#profile-pic {
  width: 10%;
  border-radius: 100px;
}

.proficiencies {
  list-style: none;
  color: black;
}

.text {
  color: black;
  font-size: 22px;
  font-family: "EB Garamond";
}

.thumbnails {
  width: 100%;
  height: auto;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  align-items: center;
}

.titles {
  text-align: center;
  font-size: 20px;
  font-family: "EB Garamond";
}

.contact-form {
  display: flex;
  flex-direction: column;  
  width: 50%;
}

#submitbtn {
  width: 20%;
  margin-left: 10%;
}

.links {
  text-align: center;
  color: black;
  opacity: 0;
  transition: opacity 0.5s;
}

#copyright {
  position: fixed;
  right: .5%;
  bottom: 0;
}

#cardrows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
}

#mtgcard,
#ecommercecard,
#employeecmscard,
#logocard,
#quizcard,
#readmecard {
  width: 33%; 
  margin-bottom: .5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

#mtgcard:hover,
#ecommercecard:hover,
#employeecmscard:hover,
#logocard:hover,
#quizcard:hover,
#readmecard:hover {
  transform: rotateY(180deg);
}

#mtgcard .card .card-back,
#ecommercecard .card .card-back,
#employeecmscard .card .card-back,
#logocard .card .card-back,
#quizcard .card .card-back,
#readmecard .card .card-back {
  transform: rotateY(180deg);
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0; 
  transition: opacity 3s;
}

#mtgcard:hover .card .card-back,
#ecommercecard:hover .card .card-back,
#employeecmscard:hover .card .card-back,
#logocard:hover .card .card-back,
#quizcard:hover .card .card-back,
#readmecard:hover .card .card-back {
  opacity: 1;
}

#mtgcard:hover .thumbnails,
#ecommercecard:hover .thumbnails,
#employeecmscard:hover .thumbnails,
#logocard:hover .thumbnails,
#quizcard:hover .thumbnails,
#readmecard:hover .thumbnails {
  display: none;
}

#mtgcard:hover .titles,
#ecommercecard:hover .titles,
#employeecmscard:hover .titles,
#logocard:hover .titles,
#quizcard:hover .titles,
#readmecard:hover .titles {
  display: none;
}



.trapdoor {
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 5%;
  width: 35%;
  background-color: #333;
  border-radius: 10px 10px 0 0;
  transform: translateX(-50%);
  transition: height 0.5s;
  overflow: hidden;
}


.trapdoor:hover {
  height: 60px; /* Height of trapdoor */
}

.top,
.bottom {
  position: absolute;
  width: 100%;
  height: 5%;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.trapdoor:hover .top {
  background-color: #333; 
}

.trapdoor:hover .bottom {
  background-color: 333; /* Change the color when expanded */
}

.top::before,
.bottom::before {
  content: "Contact";
  color: white;
  text-align: center;
  position: absolute;
  top: 850%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: transform 0.5s;
}

.top::after,
.bottom::after {
  content: "Click one ➡️";
  color: white;
  text-align: center;
  position: absolute;
  top: 1650%;
  left: 15%;
  transform: translate(-300%, -500%);
  width: 100%;
  opacity: 0;
  transition: transform 0.5s;
}


.trapdoor:hover .top::before,
.trapdoor:hover .bottom::before {
  opacity: 0;
  transform: translate(-50%, -150%);
}

.trapdoor:hover .bottom::before {
  transform: translate(-50%, 50%);
}

.trapdoor:hover .top::after,
.trapdoor:hover .bottom::after {
  opacity: 1;
  transform: translate(-56%, -160%);
}

.links {
  text-align: center;
  position: relative;
  left: 8%;
  margin-right: 0, auto;
  opacity: 0;
}

.cardlinks {
  color: black;
}

.trapdoor:hover .links {
  opacity: 1;
}

.trapdoor:hover #footer-text {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

.confirmation-message {
  color: white;
}

#construction {
  text-align: center;
  font-size:xx-large;
  color: whitesmoke;
}

/* Mobile view */
@media screen and (max-width: 600px) {
  #nav-items {
    flex-direction: row;
    background-color: transparent;
    margin-top: 0%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .page-titles {
    margin-top: 12%;
    text-align: center;
    font-family: "EB Garamond";
  }

  .thumbnails {
    max-width: 50%;
  }

  #GitHubLogo {
    width: 12%;
  }

  #LinkedInLogo {
    width: 30%;
  }

  #profile-pic {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  #submitbtn {
    width: 80%;
    margin: 0 auto;
  }
}

#construction {
  font-size: x-large;
}

.trapdoor {
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 5%;
  width: 75%;
  background-color: #333;
  border-radius: 10px 10px 0 0;
  transition: height 0.5s;
  overflow: hidden;
}

.links {
  justify-content: center;
  margin-right: 17%;
}

.top::after,
.bottom::after {
  display: none;
}